/*Style for example network*/

#mynetwork {
    width: 100%;
    height: 75%;
    border: 5px solid lightgray;
}

/*Custom Colours*/

.red {
    background: #FF5E36;
    color: #000000;
}

.orange {
    background: #FB4A08;
    color: #000000;
}

.teal {
    background: #17b2ad;
    color: #000000;
}

.green {
    background: #24C533;
    color: #000000;
}

.blue {
    background: #6D8DB5;
    color: #000000;
}

.yellow {
    background: #fecc3f;
    color: #000000;
}

/*Custom Shapes*/

.box {
    border-radius: 5px;
    border-color: #172B4D;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 25px;
    height: 10px;
    display: inline-block;
}

.ellipse {
    border-radius: 50px;
    border-color: #172B4D;
    border-style: solid;
    border-width: 1px;
    width: 35px;
    height: 15px;
    display: inline-block;
}

/*Top Navigation bar*/

.topnav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 15px 30px;
    margin-top: 3px;
    margin-left: 2px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

.topnav a:hover {
    background-color: #606060;
    color: #ffffff;
}

.topnav .search-container {
    float: right;
    margin-top: 3px;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
}

.topnav input[type=number] {
    padding: 6px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 10px 10px;
    margin-top: 10px;
    margin-right: 16px;
    background: #17b2ad;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.topnav .search-container button:hover {
    background: #138f8b;
}

/*Buttons*/

.button {
    background-color: #17b2ad;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.layer {
    font-size: 16px;
    padding: 8px 32px;
}

.button:disabled {
    background-color: #cccccc;
    color: #666666;
}

.button:disabled:hover {
    background-color: #cccccc;
    color: #666666;
}

.jira {
    background-color: #FB4A08;
    padding: 15px 30px;
    margin: auto;
}

.back {
    background-color: #FB4A08;
    padding: 15px 30px;
    font-size: 25px;
}

.reject {
    background-color: #ffffff;
    border: 2px solid #FB4A08;
    padding: 4px 15px;
    font-size: 25px;
    color: #272727;
}

.accept {
    background-color: #ffffff;
    border: 2px solid #17b2ad;
    padding: 4px 15px;
    font-size: 25px;
    color: #272727;
}

.rejected {
    background-color: #FB4A08;
    border: 2px solid #FB4A08;
    padding: 4px 15px;
    font-size: 25px;
    color: #ffffff;
}

.accepted {
    background-color: #17b2ad;
    border: 2px solid #17b2ad;
    padding: 4px 15px;
    font-size: 25px;
    color: #ffffff;
}

.active, .button-effect-teal:hover {
    background-color: #138f8b;
    color: white;
}

.button-effect-orange:hover {
    background-color: #d83d04;
    color: white;
}

.button-effect-teal-light:hover {
    background-color: #17b2ad;
    color: white;
}

.button-effect-orange-light:hover {
    background-color: #FB4A08;
    color: white;
}

/*nav pill customization*/

.nav-tabs a {
    border: none;
    background-color: #ffffff;
    color: #138f8b;
    /*border-radius: 4px;*/
    font-size: 16px;
    /*padding: 8px 32px;*/
}

.tab-pane {
    border: none;
    background-color: white;
    color: #272727;
    margin: 10px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.hover, .nav-tabs .show > .nav-link {
    color: #fff;
    background-color: #138f8b;
    border: none;
}


.nav-item .tooltiptext {
    visibility: hidden;
    width: 80%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 104%;
    left: 10%;
    opacity: 0;
    transition: opacity 0.3s;
}

.nav-item .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.nav-item:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.nav-tabs a:hover {
    background-color: #138f8b;
    color: #fff;
    border: none;
}

/*Spinning circle to indicate that the site is loading*/

.loader {
    border: 11px solid #17b2ad;
    border-top: 11px solid #FB4A08;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Collapsible button for release of consistency checker*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/*Navigation buttons for vis, if they are enabled*/

div.vis-network div.vis-navigation div.vis-button.vis-up,
div.vis-network div.vis-navigation div.vis-button.vis-down,
div.vis-network div.vis-navigation div.vis-button.vis-left,
div.vis-network div.vis-navigation div.vis-button.vis-right,
div.vis-network div.vis-navigation div.vis-button.vis-zoomIn,
div.vis-network div.vis-navigation div.vis-button.vis-zoomOut,
div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    background-image: none !important;
}

div.vis-network div.vis-navigation div.vis-button:hover {
    box-shadow: none !important;
}

.vis-button:after {
    font-size: 2em;
    color: #17b2ad;
}

.vis-button:hover:after {
    font-size: 2em;
    color: #138f8b;
}

.vis-button.vis-up:after {
    content: "\25B2";
}

.vis-button.vis-down:after {
    content: "\25BC";
}

.vis-button.vis-left:after {
    content: "\25C0";
}

.vis-button.vis-right:after {
    content: "\25B6";
}

.vis-button.vis-zoomIn:after {
    content: "\002B";
    font-size: 2em
}

.vis-button.vis-zoomOut:after {
    content: "\002D";
    font-size: 2em
}

.vis-button.vis-zoomExtends:after {
    content: "\2610";
    color: #FB4A08;
    font-weight: bold;
}

div.vis-network div.vis-navigation div.vis-button.vis-up {
    bottom: 50px;
    right: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {
    bottom: 10px;
    right: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
    bottom: 10px;
    right: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
    bottom: 10px;
    right: 95px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    top: 50px;
    left: 17px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    top: 90px;
    left: 20px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    top: 10px;
    left: 15px;
}

/*Select Design*/
.custom-select {
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 180px;
    margin: 0 auto;
    border: 1px solid #138f8b;
    background-color: white;
}

select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #272727;
}

/*Tables*/

th, td {
    border-bottom: 1px solid #ddd;
}
